name: Go Matrix Tests

on:
  workflow_call:
    inputs:
      working-directory:
        required: false
        type: string
        default: "."
      go-module-path:
        required: false
        type: string
        default: "./"

jobs:
  test:
    strategy:
      matrix:
        go-version: [1.22, 1.23, 1.24, 1.25]
        os: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-go@v5
      with:
        go-version: ${{ matrix.go-version }}
    - run: go test ./...
      working-directory: ${{ inputs.working-directory }}
